<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:href="@{/resources/css/base.css}" rel="stylesheet" />
<link th:href="@{/resources/css/container.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/resources/js/accordion-menu.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/general.js}"></script>


<title>(BUD002)Student Update</title>
<script type="text/javascript">
	window.onload = function() {
		menu();
	}

	function deleteStudent() {
		var isOk = confirm("Are you sure to delete?");
		if (isOk) {
			document.getElementById("myform").action = "StudentDeleteServlet";
			document.getElementById("myform").submit();
		}
	}
</script>
<div th:replace="header :: myheader"></div>

</head>
<body class="main_body">

	<div id="container">
		<div id="left_menu">
			<!-- menu html code exist the menu function of general.js -->
		</div>
		<div id="main_contents">
			<div id="contents">
				<div class="search_form">
					<h3>Student Update</h3>
					<label id="errormsg" th:text="${err}"> </label> <label style="color: blue;" th:text="${msg}"></label>
					<br /> <br /> <br />
					<form action="setupupdatestudent"
						method="post" id="myform" th:object="${student}">
						<table class="tableForm">
							<tr height="30px">
								<td class="tblSingleLabel">Student No.</td>
								<td class="tblSingleInput"><input th:field="*{studentId}" /></td>
							</tr>


							<tr>
								<td class="tblSingleLabel">Student Name *</td>
								<td class="tblSingleInput"><input th:field="*{studentName}" /></td>
							</tr>
							<tr>
								<td class="tblSingleLabel">Class Name *</td>
								<td class="tblSingleInput"><select id="expenseType"
										th:field="*{className}">

										<option value="NONE" label="Select" />
									
										<option th:each="list:${session.clist}" th:text="${list.name}" th:value="${list.name}"></option>
			

									</select></td>
							</tr>
							<tr>
								<td class="tblSingleLabel">Register Date</td>
								<td><input th:field="*{register}" type="datetime-local" /></td>
							</tr>
							<tr>
								<td class="tblSingleLabel">Status *</td>
								<td class="tblSingleInput"><select id="expenseType"
										class="normal_sel" th:field="*{status}">
										<option value=""></option>

										<option th:value="Attending">Attending</option>
										<option th:value="Passed">Passed</option>
										<option th:value="Failed">Failed</option>

									</select></td>
							</tr>

						</table>
						<br />
						<div id="btnGroup">
							<input type="submit" value="Update" class="button" />
							<a th:href="@{/deletestudent(id=${studentId})}"><input type="submit"
						value="Delete" id="delete" class="button"
						 /></a>
					</form>
					 <a
						href="/studentreset"> <input type="button"
						value="Back" class="button" />
					</a>
				</div>
			</div>
		</div>
	</div>


	<div class="footer">
		<span>Copyright &#169; ACE Inspiration 2016</span>
	</div>
</body>
</html>