<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:href="@{/resources/css/base.css}" rel="stylesheet" />
<link th:href="@{/resources/css/container.css}" rel="stylesheet" />
<script type="text/javascript"
	th:src="@{/resources/js/accordion-menu.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/general.js}"></script>


<title>(BUD001) Student Search</title>

<script type="text/javascript">
	window.onload = function() {
		menu();
	}
	function checkDelete() {
		var c = confirm("Are you sure you want to delete!");
		if (c) {
			document.getElementById("deleteuser").submit();
		}

	}
</script>
<div th:replace="header :: myheader"></div>
</head>
<body class="main_body">

	<div id="container">
		<div id="left_menu">
			<!-- menu html code exist the menu function of general.js -->
		</div>
		<div id="main_contents">
			<div id="contents">
				<div class="search_form">
					<h3>Student Search</h3>

					<form th:action="setupsearchstudent" method="post"
						th:object="${student}">
						<table class="tableForm">
							<tr>
								<td class="tblLabel">Student No.</td>
								<td class="tblInputShort"><input type="text"
									th:field="*{studentId}" class="txt"></input></td>

								<td class="tblLabel">Student Name</td>
								<td class="tblInputShort"><input type="text"
									th:field="*{studentName}" class="txt"></input></td>
							</tr>
							<tr>
								<td class="tblLabel">Class Name</td>
								<td class="tblInputNormal" colspan="3"><input type="text"
									id="companyName" th:field="*{className}" class="txtlong"></input></td>
							</tr>
						</table>
						<br /> <input type="submit" value="Search" class="button" /><a
							th:href="@{studentreset}"> <input type="button"
							value="Reset" class="button" /></a> <br /> <br />
						<div id="errormsg">
							<label id="message" th:text="${err}"></label>
						</div>
						<label style="color: blue;" th:text="${msg}"></label>
					</form>

					<br /> <br /> <br />
					<div id="list">

						<table class="resultTable">
							<c:if test="${userlist!=null}">
								<tr class="tblHeader">
									<th width="5%">No</th>
									<th width="10%">Student No</th>
									<th width="25%">Student Name</th>
									<th width="40%">Class Name</th>
									<th width="10%">Registered Date</th>
									<th width="10%">Status</th>
								</tr>
							</c:if>
							<th:block th:each="list : ${stulist}">
								<tr>
									<td></td>
									<td th:text="${list.studentId}"></td>
									<td><a th:href="@{studentupdate(Id=${list.studentId})}"><label
											th:text="${list.studentName}"></label> </a></td>
									<td th:text="${list.className}"></td>
									<td th:text="${list.register}"></td>
									<td th:text="${list.status}"></td>
								</tr>
							</th:block>
						</table>
					</div>

				</div>
			</div>

		</div>
		<div class="footer">
			<span>Copyright &#169; ACE Inspiration 2016</span>
		</div>
	</div>
</body>
</html>